.header {
  background-color: #81a9c5;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.centrado {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  align-items: center;
}

.logo {
  height: 50px;
  margin-right: 20px;
}

h1 {
  margin: 0;
}

.beta {
  display: flex;
  align-items: center;
}

.beta-text {
  color: white;
  margin: 0;
}

.menu-text {
  color: white;
  margin: 0;
}