.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.dispositivos-containeres {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cards-containeres {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.card {
  margin: 10px;
  background-color: #fff;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 10px;
  border-radius: 10px;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
}

.card-img {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

.card-title {
  font-size: 18px;
  margin-bottom: 5px;
}

.card-subtitle {
  font-size: 14px;
  margin-bottom: 10px;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn {
  padding: 8px 16px;
  margin-right: 10px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}

.btn-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.btn-light {
  background-color: rgb(255, 208, 0);
  color: white;
}

.btn-dark {
  background-color: rgb(94, 94, 94);
  color: white;
}

.btn-success {
  background-color: green;
  color: white;
}

.btn-danger {
  background-color: red;
  color: white;
}

.btn-warning {
  background-color: rgb(255, 145, 0);
  color: white;
}

.titulo-container {
  display: flex;
  justify-content: center;
}